/* enigma-start.component.scss */

.enigma-start {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #f0f0f0;

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    color: #555;
  }

  .setup-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 70ch;

    app-select-rotor {
      width: 100%;
    }


    label {
      font-size: 1.2em;
    }

    select,
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1em;
    }

    button {
      padding: 12px 20px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.2em;
      cursor: pointer;

      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

.enigma-start__error {
  width: 100%;
  height: 100%;
  color: darkred;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
