main {
  border: 5px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

app-notebook {
  width: 40vw;
  height: 100%;
  display: flex;
}

app-enigma-machine {
  width: 60vw;
  height: 100%;
  display: flex;
}
