<div class="notebookArea">
  <section class="cyphered">
    <h2>Cyphered</h2>
    <p>{{ cipheredText }}</p>
  </section>
  <section class="inputArea">
    <h2>Input</h2>
    <p>{{ inputText }}</p>
    <!-- <form ((submit))="onCipherText()">
      <input
        name="input"
        id="input"
        [(ngModel)]="inputText"
        (keydown)="onKeyDown($event)"
        [value]="inputText"
      />
      <button type="submit">Cipher</button>
    </form> -->
  </section>
  <section>
    <button>Reset</button>
  </section>
</div>
